$main:#2196f3;
$light:#4dabf5;

.btn {
    border-radius: 0px;
}

input[type='text'] {
    border-radius: 0px;
}

body,
html {
    height: 100vh;
    margin: 0px;
}


    /* width */
    .special_scroll::-webkit-scrollbar {
        width: 20px;
    }
    /* Track */
    .special_scroll::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }
    /* Handle */
    .special_scroll::-webkit-scrollbar-thumb {
        background: $light;
        border-radius: 10px;
    }


#wrapper,
#root {
    height: 100%;
}

#main {
    display: flex;
    height: auto;
    min-height: 87%;
    max-height: 87%;
}

#events {
    margin-top: 6%;
    margin-bottom: 3%;
}

#registered_events{
    margin-top: 3%;
}

#send_messages {
    margin-top: 3%;
    margin-bottom: 3%;
}

#panel {
    /* border:1px solid black; */
    width: 30%;
    padding: 10px;
    overflow-y: scroll;
}

#messages {
    padding: 10px;
    /* border:1px solid black; */
    width: 70%;
    overflow-y: scroll;
}